<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('inc/head')%>
    <%-include('inc/topcss')%>
    
    <%- style %> <!-- sayfalarin style kodlari -->

    <title>Layout</title>
</head>
<body> 
    <%- body %>

    <%-include('inc/bottomjs')%> <!-- layoutun js kodları -->

    <%- script %> <!-- sayfalarin js kodlari -->
</body>
</html>